.movie-detail {
  height: 300px;
  display: flex;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: relative;
}
.movie-detail-info {
  width: 50%;
  padding: 10px;
}
.movie-detail-info h2 {
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
.movie-detail-info p {
  font-weight: bold;
  margin: 0;
}
.movie-detail-info .overview {
  font-weight: normal;
  margin-top: 20px;
}
.movie-detail-video {
  width: 50%;
}
.movie-detail-video img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.error {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  color: red;
  font-weight: bold;
  font-size: 94px;
  background-color: rgb(17, 17, 17);
}
