.movie-list-categorie {
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.movie-list-categorie h3 {
  color: white;
  margin: 0 0 10px 10px;
}
.movie-list-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.loading {
  color: white;
  font-size: 72px;
}
